/* Limpiar flotados */
.clearfix{

	clear: both;
	float: none;
}

/* Estilos para el avatar */

form .avatar{
    width: 55px;
    height: 55px;
    margin-bottom: 14px;
}

.navbar .container-avatar{
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 30px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
    width: 100%;

}

.pub_image .container-avatar{
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 900px;
    overflow: hidden;
}

.pub_image{
    margin-bottom: 30px;
}

.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
}

.pub_image .nickname{
    color: grey;
}

/* Estilos para la imagen*/
.image-container{
    margin: 0px auto;
    max-height: 800px;
    /*max-width: 400px;*/
    overflow: hidden;
}

.image-container img{
  width: 100%;
} 

.pub_image .card-body{
    padding: 0px;
}

.pub_image .description{
    padding: 20px;
    padding-bottom: 0px;
}

.pub_image .btn-comments{
    margin: 20px;
    margin-top: 0px;
    margin-left: 10px;
}

.likes{
    float: left;
    padding-left: 20px;
    padding-right: 10px;

}
.likes img{
    width: 25px;
}

.likes  p{
   padding: 3px 1px 0px 10px;
   float: right;
}


/* Estilos para el detalle de la imagen*/
.pub_image_detail .comments{
    padding: 20px;
}